manifest {
  name = 'PacB-flow'
  description = 'PacBio pipeline for genome assembly, polishing and cleanup'
  homePage = 'https://github.com/KristinaGagalova/PacB-flow'
  author = 'Dr. Kristina K. Gagalova'
  mainScript = 'main.nf'
  nextflowVersion = '>=22.03'
  version = "v0.0.1"
}

plugins {
  id 'nf-validation'
}

params {

    // Conda
    enable_conda               = false
    
    // Input output options
    manifest                   = null // samples manifest file   
    outputdir                  = "results"
    genome_size                = '42m'

}

params.custom_config_base = "."
includeConfig("nfcore_custom.config")

includeConfig("conf/modules.config")
