manifest {
  name = 'PacB-flow'
  description = 'PacBio pipeline for genome assembly, polishing and cleanup'
  homePage = 'https://github.com/KristinaGagalova/PacB-flow'
  author = 'Dr. Kristina K. Gagalova'
  mainScript = 'main.nf'
  nextflowVersion = '>=22.03'
  version = "v0.0.1"
}

plugins {
  id 'nf-validation'
}

params {

    // Input output options
    manifest                   = null // samples manifest file   
    outputdir                  = "results"

    // canu genome size option - look for format
    genome_size                = '42m'

    // ntJoin options
    ntjoin_ref                        = null // reference genome
    ntjoin_ref_weights                = 2 // reference weight - setting to 2 which assigns higher importance to ref 
    ntjoin_w                          = 1000 // minimizers windows size
    ntjoin_k                          = 32 // kmer size
    ntjoin_no_cut                     = false // turn off cut?

    // ntLink options
    ntlink_run                        = false
    ntlink_w                          = 100
    ntlink_k                          = 32
    ntlink_z                          = 1000
    ntlink_rounds                     = 3

    // Download mito
    mito_dw                           = 'https://ftp.ncbi.nlm.nih.gov/refseq/release/mitochondrion/'
    mito_species                      = "$baseDir/assets/list_mito.in"

    // Abyss stats
    abyss_gensize                     = 42000000
    ng50                              = false
}

params.custom_config_base = "."
includeConfig("nfcore_custom.config")

includeConfig("conf/modules.config")
