process {

    // Parse each process output -----------------------------------------------
    // For dev only
    //publishDir = [
    //    path: { "${params.outputdir}/processing/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
    //    mode: 'copy',
    //    saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    //]

    withName: 'CANU_ASSEMBLY' {
        publishDir = [
            path: "${params.outputdir}/assembly/01.primary/canu",
            mode: 'copy',
        ]
    }

    withName: 'NTLINK_SCAFFOLD' {
        publishDir = [
            path: "${params.outputdir}/assembly/02.scaffolding/ntlink",
            mode: 'copy',
        ]
    }

    withName: 'NTJOIN_SCAFFOLD' {
        publishDir = [
            path: "${params.outputdir}/assembly/02.scaffolding/ntjoin",
            mode: 'copy',
        ]
    }

    withName: 'POLYPOLISHPOLISH' {
        publishDir = [
            path: "${params.outputdir}/assembly/03.polishing/polypolish",
            mode: 'copy',
        ]
    }

    withName: 'SEQKIT_MITOTAG' {
        publishDir = [
            path: "${params.outputdir}/assembly/04.final",
            mode: 'copy',
        ]
    }

    withName: 'ABYSS_FAC' {
        publishDir = [
            path: "${params.outputdir}/assembly",
            mode: 'copy',
        ]
    }
   
    withName: 'UCSC_BEDGRAPHCONVERT' {
        publishDir = [
            path: "${params.outputdir}/coverage_analysis/bigwig",
            mode: 'copy',
        ]
    }

    withName: 'PBMM_MAPLONG' {
        publishDir = [
            path: "${params.outputdir}/coverage_analysis/bams",
            mode: 'copy',
        ]
    }
    
}
