process {

    // Parse each process output -----------------------------------------------
    publishDir = [
        path: { "${params.outputdir}/processing/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
}
